.box-layout {
    align-items: center;
    background: url('/images/loginbackground.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    &__box {
        background: fade-out($main-brown, .2);
        border-radius: 5px;
        color: $main-green;
        padding: $l-size $m-size;
        text-align: center;
        width: 25rem;
    }

    &__title {
        margin: 0 0 $m-size 0;
        line-height: 1;
    }
}