.btn {
    background: $main-green;
    border: none;
    border-radius: 3px;
    color: darken($main-brown, 10%);
    font-size: 2.0rem;
    font-weight: 300;
    padding: $s-size;
    text-decoration: none;

    &--logout {
        background: none;
        font-size: $m-size;
        padding: 1.0rem;
    }

    &--expense {
        background: $main-red;
        color: $main-lightgray;
        font-size: 1.4rem;
        line-height: 1;
        padding: 1rem;
        text-align: center;

        &:hover {
            background: darken($main-red, 10%);
        }
    }

    &--income {
        background: $main-green;
        color: $main-lightgray;
        font-size: 1.4rem;
        line-height: 1;
        padding: 1rem;
        text-align: center;

        &:hover {
            background: darken($main-green, 10%);
        }
    }

    &--remove {
        background: $main-brown;

        &:hover { 
            background: darken($main-brown, 10%);
        }
    }

    &--login {
        width: 20rem;
        &:hover {
            background: lighten($main-green, 10%);
        }
    }

    &--no-login {
        width: 20rem;
        margin-top: $s-size;
        background: darken($main-brown, 15%);
        color: lighten($main-green, 10%);

        &:hover {
            background: darken($main-brown, 20%);
        }
    }

    &--remove-expenses {
        width: 100%;
        background: $main-red;
        color: white;
        &:hover {
            background: #511;
            color: red;
        }
    }

    &--remove-incomes {
        width: 100%;
        background: $main-green;
        color: white;
        &:hover {
            background: #151;
            color: red;
        }
    }
}