.input-filters {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: center;
        margin-bottom: $l-size;
    }

    &__item {
        margin-bottom: $s-size;

        @media (min-width: $desktop-breakpoint) {
            margin: 0 $s-size 0 0;
        }
    }
}

.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $m-size;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}