.page-list {
    display: flex;
    justify-content: center;
    
    &__item {
        border: 1px solid darken($light-red, 10%);
        background: $light-red;
        color: $main-brown;
        padding: .8rem;
        text-decoration: none;
        transition: background .3s ease;

        &:hover {
            background: darken($light-red, 5%);
        }
        &:focus {
            outline: none;
        }
        &--focus {
            border-color: red;
        }
    }

    &__item-income {
        border: 1px solid darken($light-green, 10%);
        background: $light-green;
        color: $main-brown;
        padding: .8rem;
        text-decoration: none;
        transition: background .3s ease;

        &:hover {
            background: darken($light-green, 5%);
        }
        &:focus {
            outline: none;
        }
        &--focus {
            border-color: $main-green;
        }
    }
}