// Colors
$main-green: rgb(9, 185, 80);
$main-brown: #673C35;
$main-black: #171717;
$main-lightgray: #f7f7f7;

//Spacing/Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;